<div class="footer">
    <nav>
        <div [style.display]="router.url.includes('/b/') ?'none' : '' ">
            <span class="left">
                <img height="25" width="25" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/dev-dot-to.svg" /> 
                By: <a href="https://github.com/Klausus">Cristian Mateu Gomez</a>    
                For <a href="https://digitalbootcamps.eu/">EDIBO</a> (2º Edition)
            </span>
            
            <span class="center">
                <a href="https://github.com/Klausus/EDIBO-FULL-STACK-MEAN-BOOTCAMP/tree/master/Proyecto">
                    <img height="25" width="25" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" /> 
                    Github ng8 Trello
                </a>
            </span>    

            <span class="right">
                <a href="https://twitter.com/KlaususKun">
                    <img height="25" width="25" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" /> 
                    @KlaususKun
                </a>
            </span>

            <span class="right">
                <a href="https://es.linkedin.com/in/cristianmateugomez">
                    <img class="svg" height="25" width="25" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" /> 
                    Cristian Mateu Gomez
                </a>
            </span>

        </div>
    </nav>
</div>