<div *ngIf="board" class="board-title">
    <span 
        [style.display]="editingTitle ? 'none' : ''" 
        (click)="enableEditTitle()" >   
        {{ board.title }}
    </span>
    <input  
        [style.display]="editingTitle ? '' : 'none' "
        (keyup)="editingTitleOnEnter($event)"
        (blur)="editingTitleOnBlur()"
        [(ngModel)]="board.title"
    />
</div>
  
<section *ngIf="board" id="main" >
    
    <div *ngFor="let column of board.columns " class="sortable-column"> <!-- | order : 'ASC' -->
        <app-column 
            [column]="column"
            [cards]="board.cards"
            (outAddCard)="addCard($event)"
            (outCardUpdate)="cardUpdate($event)"
            (outColumnUpdate)="columnUpdate($event)"
        ></app-column>
    </div>
   
    <div class="add-column" (click)="enableAddColumn()" >
        <span 
            [style.display]="editingColumn ? 'none' : ''" 
            (click)="enableAddColumn()" >
            Add a list...
        </span>   
        <input  
            [style.display]="editingColumn ? '' : 'none' "
            (keyup)="addColumnOnEnter($event)"
            (blur)="addColumnOnBlur()"
            [(ngModel)]="addColumnText"
        />       
    </div>
</section>